@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@600;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090b; 
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #a3e635, #ffffff);
}